
@{
    ViewBag.Title = "NoHallado";
}

<h2>@ViewBag.Error</h2>
<br />
<hr />

<p> 
    Por favor pongase en contacto con el area administrativa, para que le entreguen sus credenciales de acceso,
    
    
    @Html.ActionLink("Volver al login", "Validar")
    
</p>    
        